<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheet/style.css">
	<title>About Chomsky</title>
</head>
<body>
	<div><a href="/views/home.html">Home Page 🏠</a></div>
	<div><a href="/views/books.html">Prof. Chomsky's Books</a></div>
	<h1>About Prof. Noam Chomsky</h1>
	<p>
		Avram Noam Chomsky is an American linguist, philosopher, cognitive scientist, 
		historian, social critic, and political activist. 
		Chomsky is also a major figure in analytic philosophy
		 and one of the founders of the field of cognitive science.
	</p>
</body>
</html>