<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base href="/">
	<link rel="stylesheet" href="../Public/stylesheet/style.css">
	<title>Home Page</title>
</head>
<body>
	<h1>This page is dedicated to Prof. Avram Noam Chomsky</h1>
	
    <img src="https://cdn2.opendemocracy.net/media/images/Chomsky2-Ohala_cod2fvr.width-800.jpg" alt="Prof. Chomsky">
    <div><a href="/about">About Prof. Chomsky</a></div>
	<div><a href="/books">Prof. Chomsky's Books</a></div>
</body>
</html>